header {
    background-color: aquamarine
}

nav {
    background-color: salmon;
}

article {
    background-color: orange;
}

div {
    background-color: yellow;
}

footer {
    background-color: skyblue;
}